<div class="page-header">
  <h1>Friends</h1>
  <p><%= link_to 'Add a New Friend', new_friend_url, class: 'btn btn-primary' %></p>
</div>


<ul>
<% @posts.each do |p| %>
  <li>
    <%= p["from"]["name"] %> 
    <%= p["picture"] %>
  </li>
<% end %>
</ul>


