<div class="page-header">
  <h1>Friend #<%= @friend.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @friend.user_id %></dd>

  <dt>Network</dt>
  <dd><%= @friend.network_id %></dd>

  <dt>Network username</dt>
  <dd><%= @friend.network_username %></dd>

</dl>
