<div class="page-header">
  <h1>Category #<%= @category.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Original</dt>
  <dd><%= @category.original %></dd>

  <dt>Type</dt>
  <dd><%= @category.type %></dd>

</dl>
