<div class="page-header">
  <h1>Linked accounts</h1>
</div>

<p><%= link_to 'Add a New Linked Account', new_linked_account_url, class: 'btn btn-primary' %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User</th>
      <th>Network</th>
      <th>Linked account username</th>
      <th>Linked account password</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

